@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

/* Amiamie Regular */
@font-face {
  font-family: "Amiamie";
  src:
    url("/fonts/amiamie/woff2/Amiamie-Regular.woff2")
      format("woff2"),
    url("/fonts/amiamie/otf/Amiamie-Regular.otf")
      format("opentype"),
    url("/fonts/amiamie/ttf/Amiamie-Regular.ttf")
      format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Amiamie Regular Italic */
@font-face {
  font-family: "Amiamie";
  src:
    url("/fonts/amiamie/woff2/Amiamie-Italic.woff2")
      format("woff2"),
    url("/fonts/amiamie/otf/Amiamie-Italic.otf")
      format("opentype"),
    url("/fonts/amiamie/ttf/Amiamie-Italic.ttf")
      format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Amiamie Light */
@font-face {
  font-family: "Amiamie";
  src:
    url("/fonts/amiamie/woff2/Amiamie-Light.woff2")
      format("woff2"),
    url("/fonts/amiamie/otf/Amiamie-Light.otf")
      format("opentype"),
    url("/fonts/amiamie/ttf/Amiamie-Light.ttf")
      format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Amiamie Light Italic */
@font-face {
  font-family: "Amiamie";
  src:
    url("/fonts/amiamie/woff2/Amiamie-LightItalic.woff2")
      format("woff2"),
    url("/fonts/amiamie/otf/Amiamie-LightItalic.otf")
      format("opentype"),
    url("/fonts/amiamie/ttf/Amiamie-LightItalic.ttf")
      format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Amiamie Black */
@font-face {
  font-family: "Amiamie";
  src:
    url("/fonts/amiamie/woff2/Amiamie-Black.woff2")
      format("woff2"),
    url("/fonts/amiamie/otf/Amiamie-Black.otf")
      format("opentype"),
    url("/fonts/amiamie/ttf/Amiamie-Black.ttf")
      format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Amiamie Black Italic */
@font-face {
  font-family: "Amiamie";
  src:
    url("/fonts/amiamie/woff2/Amiamie-BlackItalic.woff2")
      format("woff2"),
    url("/fonts/amiamie/otf/Amiamie-BlackItalic.otf")
      format("opentype"),
    url("/fonts/amiamie/ttf/Amiamie-BlackItalic.ttf")
      format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/* Amiamie-Round Variants (if needed separately) */
@font-face {
  font-family: "Amiamie-Round";
  src:
    url("/fonts/amiamie/woff2/Amiamie-RegularRound.woff2")
      format("woff2"),
    url("/fonts/amiamie/otf/Amiamie-RegularRound.otf")
      format("opentype"),
    url("/fonts/amiamie/ttf/Amiamie-RegularRound.ttf")
      format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Amiamie-Round";
  src:
    url("/fonts/amiamie/woff2/Amiamie-BlackRound.woff2")
      format("woff2"),
    url("/fonts/amiamie/otf/Amiamie-BlackRound.otf")
      format("opentype"),
    url("/fonts/amiamie/ttf/Amiamie-BlackRound.ttf")
      format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Amiamie-Round";
  src:
    url("/fonts/amiamie/woff2/Amiamie-BlackItalicRound.woff2")
      format("woff2"),
    url("/fonts/amiamie/otf/Amiamie-BlackItalicRound.otf")
      format("opentype"),
    url("/fonts/amiamie/ttf/Amiamie-BlackItalicRound.ttf")
      format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@theme {
  --color-primary: #e5e5e0;
  --color-DarkLava: #393632;
  --color-SageGray: #8b8b73;
  --color-gold: #cfa355;
  --color-bg: #171717;
  --color-fg: #fff;
  --color-menu-bg: #0f0f0f;
  --color-menu-fg-secondary: #5f5f5f;
  --color-hamburger-icon-border: rgba(255, 255, 255, 0.1);
  --font-amiamie: "Amiamie", sans-serif;
  --font-amiamie-round: "Amiamie-Round", sans-serif;
  --font-inter: "Inter", sans-serif;

  --animate-marquee: marquee 40s infinite linear;
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
}

body {
  background: #e5e5e0;
  color: black;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: var(--font-amiamie);
}

.menu-media-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu-toggle-label p,
.menu-col p {
  font-size: 0.95rem;
  font-weight: 500;
}

.menu-col a {
  text-decoration: none;
  color: var(--color-fg);
  font-size: 1.5rem;
  font-weight: 500;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  pointer-events: none;
  overflow: hidden;
  z-index: 2;
}

.menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: all;
  color: var(--color-menu-fg-secondary);
  z-index: 2;
}

.menu-toggle-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.menu-toggle-label {
  overflow: hidden;
}

.menu-toggle-label p {
  position: relative;
  transform: translateY(0%);
  will-change: transform;
}

.menu-hamburger-icon {
  position: relative;
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-hamburger-icon-border);
  border-radius: 100%;
  background-color: var(--color-menu-bg);
}

.menu-hamburger-icon span {
  position: absolute;
  width: 15px;
  height: 1.25px;
  background-color: var(--color-fg);
  transition: all 0.75s cubic-bezier(0.87, 0, 0.13, 1);
  transform-origin: center;
  will-change: transform;
}

.menu-hamburger-icon span:nth-child(1) {
  transform: translateY(-3px);
}
.menu-hamburger-icon span:nth-child(2) {
  transform: translateY(3px);
}
.menu-hamburger-icon.active span:nth-child(1) {
  transform: translateY(0) rotate(45deg) scaleX(1.05);
}
.menu-hamburger-icon.active span:nth-child(2) {
  transform: translateY(0) rotate(-45deg) scaleX(1.05);
}

.menu-overlay,
.menu-overlay-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  color: var(--color-fg);
  overflow: hidden;
  z-index: 1;
}

.menu-overlay {
  background-color: var(--color-menu-bg);
  will-change: clip-path;
}

.menu-overlay-content {
  display: flex;
  will-change: transform;
  pointer-events: all;
}

.menu-media-panel {
  flex: 1;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #000;
}

.menu-media-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  transition: opacity 0.5s ease;
}

.menu-links-panel {
  flex: 1.2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10% 5%;
  background-color: var(--color-menu-bg);
  position: relative;
}

.menu-link-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.menu-link-index {
  font-family: var(--font-inter);
  font-size: 0.9rem;
  color: var(--color-menu-fg-secondary);
  margin-top: 1.2rem;
  opacity: 0.5;
}

.menu-link a {
  font-size: 5rem;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
}

.menu-footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.menu-tag a,
.menu-footer p {
  color: var(--color-menu-fg-secondary);
  font-size: 0.9rem;
}

.line {
  position: relative;
  will-change: transform;
}

.menu-link-wrapper {
  display: inline-block;
  overflow: hidden;
}

.char-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 1.2em; /* Ensure enough height for the wave */
  vertical-align: bottom;
}

.char-inner {
  display: block;
  will-change: transform;
}

@media (max-width: 1000px) {
  .menu-media-panel {
    display: none;
  }

  .menu-links-panel {
    flex: 1;
    padding: 15% 7%;
  }

  .menu-link a {
    font-size: 3.5rem;
  }

  .menu-footer {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }
}

@utility clip-path {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
}

@utility banner-text-responsive {
  @apply text-[64px] leading-9 sm:text-[118px] sm:leading-16 md:text-[126px] lg:text-[152px] lg:leading-20;
}

@utility value-text-responsive {
  @apply md:text-[24px] lg:text-[26px];
}

@utility marquee-text-responsive {
  @apply text-[28px] sm:text-[36px] lg:text-[42px];
}

/* Optimization for GPU acceleration */
.marquee-track, 
[id^="title_service_"] {
  will-change: transform;
}

@utility contact-text-responsive {
  @apply text-[42px] sm:text-[52px] md:text-[62px] lg:text-[100px];
}
